@use '../../theme' as *;

footer {
    background-color: $quaternary-color;

    height: 8rem;

    padding: 2rem 3rem;

    display: flex;

    //justify-content: center;
    align-items: center;

    & h1 {
        padding-bottom: 2rem;
    }

    & > * {
        margin: 2rem 2rem;
    }
}