/* src/sass/styles.scss */
:root {
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.6;
}
*,
*::before,
*::after {
  box-sizing: content-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  font-family:
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  user-select: none;
}
header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  top: 1rem;
  height: auto;
}
header > nav {
  flex-basis: 80%;
  margin-left: 1rem;
  background-color: #EDEDED;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.logo {
  padding: 0.5rem;
  clip-path: circle(50%);
  width: 8rem;
  height: auto;
  background-color: #EDEDED;
}
.navbar {
  color: #EDEDED;
}
.navbar > ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.navbar > ul li {
  float: left;
}
.btn {
  color: #2e2e2e;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 0.25rem;
}
.btn::after {
  content: "";
  position: absolute;
  background-color: #d1d1d1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.35rem;
  transition: transform 200ms;
  transform: translateY(-180%) scaleX(0%);
}
.btn:hover::after {
  transform: translateY(-180%) scaleX(75%);
}
section#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section#about * {
  color: #EDEDED;
  text-shadow: 1px 1px 0 black;
}
section#about > div::after {
  content: "";
  position: absolute;
  background-color: #adadad;
  box-shadow: 1px 1px 0 black;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  height: 0.25rem;
  transform: translateY(250%) scaleX(100%);
  animation: extend 1s ease-in-out;
}
@keyframes extend {
  from {
    transform: translateY(250%) scaleX(0%);
  }
}
section#about > div > h1 {
  font-weight: 300;
  font-size: 3rem;
  transform: translateY(0%);
  animation: main-text-fade-in 1s;
}
@keyframes main-text-fade-in {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
}
section#about > div > h2 {
  transform: translateY(0%);
  animation: alt-text-fade-in 1s;
}
@keyframes alt-text-fade-in {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
}
section#projects {
  background-color: #171717;
  padding: 2rem 3rem;
}
section#projects h1 {
  padding-bottom: 2rem;
}
section#projects * {
  color: #e8e8e8;
}
section#projects .grid {
  display: grid;
}
section#projects .grid * {
  user-select: none;
}
section#contacts {
  background-color: #EDEDED;
  height: 8rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
}
section#contacts h1 {
  padding-bottom: 2rem;
}
section#contacts > * {
  margin: 2rem 2rem;
}
.card {
  background-size: cover;
  border-radius: 0.5rem;
  width: 16rem;
  aspect-ratio: 1/1;
}
.card::after {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  inset: 0;
  background-image: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
}
.card .card-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 10;
}
.card .card-title {
  padding: 0.5rem;
}
/*# sourceMappingURL=styles.css.map */
