$primary-color: #171717; // #040303 // #191919
$secondary-color: #444444; // #461111 // #2d4263
$tertiary-color: #DA0037; // #A13333 // #c84b31
$quaternary-color: #EDEDED; // #B3541E // #ecdbba

$primary-text-color: $tertiary-color;
$secondary-text-color: $quaternary-color;