@use '../../theme' as *;

section#projects {
    background-color: $primary-color;

    display: flex;

    overflow-x: scroll;

    & > * {
        flex: 0 0 24rem;
    }

    & * {
        color: invert($primary-color);
        user-select: none;
    }
}